.sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0 112px;
  max-width: 358px;
  margin: 0 auto;
}

.sign__form {
  width: 100%;
}

.sign__input {
  box-sizing: border-box;
  cursor: text;
  width: 100%;
  height: 50px;
  margin-top: 30px;
  border: none;
  border-bottom: 2px solid #cccccc;
  padding: 0 4px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
  background-color: transparent;
}

.sign__input:first-of-type {
  margin-top: 36px;
}

.sign__input::placeholder {
  color: #cccccc;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.sign__input:focus {
  outline: none;
}

.sign__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
}

.sign__button {
  width: 100%;
  height: 50px;
  padding: 0;
  border: none;
  border-radius: 2px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  margin-top: 88px;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.sign__button:hover {
  background-color: rgb(22, 202, 213);
}

.sign__button:focus {
  outline: none;
  opacity: 0.85;
}

.sign__button_disabled {
  background-color: #e6e8eb;
  color: #b6bcbf;
  box-shadow: none;
  pointer-events: none;
}

.sign__link {
  text-decoration: none;
  color: #fff;
  transition: opacity 0.2s ease-in-out;
}

.sign__link:hover {
  opacity: 0.6;
}

.sign__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  margin: 15px 0 0;
}

.sign__email-error {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: rgb(22, 202, 213);
  position: relative;
  top: 10px;
  left: 25%;
  visibility: hidden;
}

.sign__email-error_visible {
  visibility: visible;
}